/* AddEvent.css */
.address-typeahead {
    background: linear-gradient(160deg, #d7defe 70%, #4C526C);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
 


.event-form {
    margin-bottom : 16px;
    background: linear-gradient(to right bottom, #fff, #d7defe);
    color: #39125C;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.event-input-fields {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    margin-top : 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}

.header-container p {
    margin: 0;
}

    .input-group {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 15px !important;
   }

    .input-group label {
        white-space: nowrap;
        flex: 1;
        margin-right: 10px !important;
        text-align: left; 
    }

    .input-group .event-input-fields {
        background-color : white;
        opacity : 0.7;
        width : 50%;
        flex: 1 !important;
        padding: 8px !important;
        border: 0px solid #ccc !important;
        border-radius: 10px !important;
    }

.btn-pay {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btndel {
    margin-top: 11px!important;
    margin-bottom : 10px;
    height: 46px!important;
    width: 50%!important;
    padding: 10px!important;
    font-size: 16px!important;
}

.btn-pay:hover {
    background-color: #0056b3;
}

.suggestions-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.suggestions-list li {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggestions-list li:hover {
    background-color: #e0e0e0;
}

.btn-pay {
    border: solid;
}

.error-message {
    color: red;
    font-size: small;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-end;
}

.toggle-slider {
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

.slider-thumb {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-slider.active {
    background-color: #4caf50;
}

.slider-thumb.active {
    transform: translateX(26px);
}

.toggle-container label {
    margin-right: 10px;
    color: #f73737;
    font-weight: bold;
}

.request {
    margin-right : 6px !important;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    margin: 2px;
}

.request label{
    order: 1;
    /*margin: 6px;*/
    text-align: left;
}

.request input[type="checkbox"] {
    order: 2;
    width: 13px;
    margin-left: 10px;
}

.playlist-selection{
    margin-top : 10px;
}