/* CSS for SongHistoryWithActions Component */
.song-history-container {
    
    background: linear-gradient(160deg, #D7DEFE 70%, #4C526C);
    padding: 20px;
}

.song-history-table {
    overflow: auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.song-history-table th,
.song-history-table td {
    text-align: left;
}


/* Accepted Requests Section */
.accepted-requests {
    margin-top: 20px;
}

.accepted-requests h2 {
    color: #333;
}

/* Buttons */
.action-button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    /* Transparent background */
    font-size: 24px;
    /* Adjust the size as needed */
}

/* Style tick icon as green */
.btn-success {
    color: #5cb85c;
    /* Green color */
    transition: color 0.3s;
    font-size: medium;
    /* Add a transition for smoother color change */
}

/* Style cross icon as red */
.btn-danger {
    color: #d9534f;
    /* Red color */
    transition: color 0.3s;
    font-size: medium;
    /* Add a transition for smoother color change */
}

/* Style for the button in the :active state */
.btn-success:active,
.btn-danger:active {
    background-color: transparent;
    /* Set the background to transparent when clicked */
}

.history-table {
    width: 100%;
    overflow-x: auto;
    font-size: x-small;
    background-color: aliceblue;
}

/* Updated button style for "Mark as Played" */
.btn-primary-mark-as-played {
    font-weight: 700;
    background-color: rgb(201, 201, 43);
    border-radius: 15px;
    font-size: 0.5rem;
    padding: 0px 6px;
    border: none;
}

/* Style for the button in the :hover state */
.btn-primary-mark-as-played:hover {
    background-color: #007bff;
    /* Blue background on hover */
    color: #fff;
    /* White text color on hover */
}

/* Style for the button in the :active state */
.btn-primary-mark-as-played:active {
    background-color: #0056b3;
    /* Darker blue on click */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: max-content;
    padding-right: 8px;
    /* Adjust the gap between buttons as needed */
}

.djlive-header-cell {
    font-weight: bold;
    text-align: center;
    /* Equal width for all columns */
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    /* Show ellipsis for long text */
}
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 0;
}

.toggle-container label{
    margin: 0;
    color: #39125C;
    font-weight: 600;
    font-size: 1rem;
}

.toggle-slider {
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

.slider-thumb {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-slider.active {
    background-color: #4caf50;
}

.slider-thumb.active {
    transform: translateX(26px);
}

.money{
    font-weight: bold;
    text-align: center;
}

.bg-music-dj-side{
    background: url('/images/BGMusic.png');
    /* background-repeat: no-repeat; */
    background-size: 100%;
    z-index: 2;
}


.img-song-req-dj-side{
    border-radius: 15px;
    margin: 5px;
    height: 60px;
    width: 60px;
}

.dj-side-song-req-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    align-items: center;
}

.song-announcement-request-container{
    margin:10px 20px;
    border-radius: 15px;
    position: relative;
    background: linear-gradient(160deg,#fff 10%,#D7DEFE 40%,#fff 90%);
    max-width: 24rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px rgb(0 0 0 / 0.2);
    
}

.song-announcement-request-container-red{
    margin:10px 20px;
    border-radius: 15px;
    position: relative;
    background: linear-gradient(150deg,#FF9999 10%,#fff 40%, #fff 50%,#FF9999 100%);
    max-width: 24rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.song-announcement-request-container-yellow{
    margin:10px 20px;
    border-radius: 15px;
    position: relative;
    background: linear-gradient(150deg,#FFDE79 10%,#fff 40%, #fff 60%,#FFDE79 100%);
    max-width: 24rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.request-announcement-amount{
    position: absolute;
    top:-10px;
    left: -10px;
    font-weight: 700;
    color: #fff;
    background-color: #39125C;
    padding: 2px 10px;
    border-radius: 10px;
}

.close-button-X{
    border-radius: 100%;
    color: #fff;
    background-color: #d9534f;
    border: none;
    height: 25px;
    width: 25px;
}

.accept-button-yes{
    border-radius: 100%;
    color: #fff;
    background-color: #5cb85c;
    border: none;
    height: 25px;
    width: 25px;
}

.dj-side-song-req-title{
    color: #39125C;
    margin: 0;
    font-size: 0.8rem !important;
    font-weight: 700;
}

.dj-side-song-req-text{
    color: #39125C;
    margin: 0;
    font-size: 0.6rem;
    font-weight: 600;
}

.dj-side-img-text{
    display: flex;
    gap:10px;
    align-items: center;
}

.label-song-requests{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #39125C;
}