/* DjProfile.css */

.dj-profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    font-weight: bold;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .btn-save {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-save:hover {
    background-color: #0056b3;
  }
  .dj-profile-heading {
    font-weight: bold; /* Make the text bold */
    color: #333; /* Dark color (you can adjust the color code) */
    text-align: center; /* Center align the text */
    font-size: 24px; /* Adjust the font size as needed */
  }