.navbar {
  background-color: #D7DEFE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the logo horizontally */
  flex: 1; /* Take up remaining space in the navbar */
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  cursor: pointer;
}

.logo img {
  max-width: 100px; /* Adjust the logo size as needed */
}

.logo div{
  font-size: x-small;
  font-weight: 660;
}

.home-img {
  cursor: pointer;
}

.home-img img {
  max-width: 30px; /* Adjust the logo size as needed */
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu.open {
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust the top position to your preference */
  right: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.menu.open Button {
  padding: 10px;
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.4s;
}

.bar.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* @media screen and (max-width: 768px) { */
  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
  }

  .menu.open {
    display: flex;
  }
/* } */
.btn-navigation-bar{
  background-color: #343a40;
}
