.payment-policy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    /* Light gray background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

    .payment-policy-container h1 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #333;
    }

    .payment-policy-container h2 {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333;
    }

    .payment-policy-container p {
        font-size: smaller;
        line-height: 1.5;
        color: #444;
    }

    .payment-policy-container ul {
        list-style: disc;
        margin-left: 20px;
    }

    .payment-policy-container li {
        font-size: smaller;
        line-height: 1.5;
        color: #444;
    }

/* Customize colors and fonts as needed */
