body {
    /*background: #bdc3c7;*/ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);*/ /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #2c3e50, #bdc3c7);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(160deg, #d7defe 70%, #4C526C) !important;
}

.container {
    position: relative;
    z-index: 1;
}
    .dj-img{
    margin-top: -102px;
    }
    .sign-up{
        max-width : 32rem;
        margin : auto;
    }
.bg-music {
    position: absolute;
    top: -4px;
    left: 7px;
    width: 98%;
    height: 50%;
    z-index: -1;
}
.eye-password-click1 {
    position : absolute;
    right : 34px;
    top   :280px;
    width: 20px !important;
    margin-top: 10px;
}
.text-overlay {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}
input {
    opacity: 0.7;
    border-radius: 10px;
    padding: 5px 10px;
    width: 59%;
    border: 0px;
}

    .password-input-box{
        margin-left :24px;
        display : flex;
        place-items : end;
     }

     #password{
         width: 99%;
     }
    #confirmPassword{
        padding : 5px 10px;
        width : 99%;
        height : 91%;
    }

    #check {
    width: 10%;
}
    .username{
        display: flex;
     }
    
    .lastname{
        display: flex;
     }
    .email{
       display: flex;
     }  
    
    .gender{
        display : flex;
    }

    .phone{
        display : flex;
    }

    .password{
        display : flex;
    }

    .confirm-password{
        display : flex;
    }

.form {
    border-radius: 5px;
    width: 550px;
    margin-top: -9px !important;
    margin-right: 0px !important;
    /*margin: 20px auto;*/
    padding: 9px !important;
    margin-left: 31px !important;
    background-color: #f0f3fff5 !important;
    background-blend-mode: lighten;
    /* height: 600px; */
    color: #39125C !important;
    font-weight: 600;
}

    .password-warning{
        display: block;
        font-size: smaller;
        color: orangered;
    }
.btn {
    background-color: #39125C!important; 
    color : white !important;
    border-radius: 17px!important;
    outline: none;
    border: none;
    cursor: pointer;
    width: auto;
}
    
    .btn--primary {
        background-color: #007BFF;
        color: #242424;
        border: 1px solid var(--primary);
    }
    
    .btn--outline {
        background-color: transparent;
        color: #fff;
        padding: 8px 20px;
        border: 1px solid var(--primary);
        transition: all 0.3s ease-out;
    }
    
    .btn--medium {
        padding: 8px 20px;
        font-size: 18px;
    }
    
    .btn--large {
        padding: 12px 26px;
        font-size: 20px;
    }
    
    .btn--large:hover,
    .btn--medium:hover {
        transition: all 0.3s ease-out;
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
    .form-body{
        text-align: left;
        padding: 8px 10px !important;
    }

    .form-body > *{
        padding: 8px!important;
    }

    .form__label{
        margin-bottom : 0px;
        width: 49% !important;
        font-size: medium;
    }

    .form_input{
        width: 60%;
    }
    .input_error{
        border-block-color: red;
    }
    #gender {
    padding : 5px 10px;
    width: 162px;
    color: #39125C;
}
    /* .phone{
        display: flex;
        width: 200px;
    }
    .react-tel-input{
        margin-left:115px;
        width : 200px !important;
    }
    .form-control{
        width: 200px !important;
    } */
    
    .footer{
        text-align: center;
    }
    .password-container {
        display: flex;
        flex-direction: column; /* Vertically stack the password input and "Show Password" div */
    }
    
    
    
    .show-password {
        display : flex;
        align-self: end;
        margin-top: 10px;
        /*margin-right: 60px;*/
        font-size: small;
    }
    

    .dj-checkbox {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    
    .dj-label {
        margin-right: 10px;
    }
    
    #djCheckbox {
        width: 17px;
        height: 20px;
        cursor: pointer;
    }

@media (min-width: 32rem) {
    .dj-img {
        margin: auto;
        margin-top: -102px;
        transform: translateX(10%);
    }

    .password-input-box {
        width: 204px;
    }
    #gender{
        width : 204px;
    }
}