    body{
        background: #bdc3c7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .form{
        /* background-color: white; */
        background-image: url("../../src/Resources/DJWhite.jpg");
        border-radius: 5px;
        width: 550px;
        margin: 20px auto;
        padding: 20px;
        margin-left: 20px;
        background-color: gainsboro;
        background-blend-mode: lighten;
        /* height: 600px; */
        color:black;
    }

    .password-warning{
        display: block;
        font-size: smaller;
        color: orangered;
    }
    .btn {
        padding: 8px 20px;
        border-radius: 2px;
        outline: none;
        border: none;
        cursor: pointer;
        width: auto;
    }
    
    .btn--primary {
        background-color: #007BFF;
        color: #242424;
        border: 1px solid var(--primary);
    }
    
    .btn--outline {
        background-color: transparent;
        color: #fff;
        padding: 8px 20px;
        border: 1px solid var(--primary);
        transition: all 0.3s ease-out;
    }
    
    .btn--medium {
        padding: 8px 20px;
        font-size: 18px;
    }
    
    .btn--large {
        padding: 12px 26px;
        font-size: 20px;
    }
    
    .btn--large:hover,
    .btn--medium:hover {
        transition: all 0.3s ease-out;
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
    .form-body{
        text-align: left;
        padding: 20px 10px;
    }

    .form-body > *{
        padding: 5px;
    }

    .form__label{
        width: 49% !important;
        font-size: small;
    }

    .form_input{
        width: 60%;
    }
    .input_error{
        border-block-color: red;
    }
    #gender{
        width:186px;
    }
    /* .phone{
        display: flex;
        width: 200px;
    }
    .react-tel-input{
        margin-left:115px;
        width : 200px !important;
    }
    .form-control{
        width: 200px !important;
    } */
    
    .footer{
        text-align: center;
    }
    .password-container {
        display: flex;
        flex-direction: column; /* Vertically stack the password input and "Show Password" div */
    }
    
    
    
    .show-password {
        align-self: end;
        margin-top: 10px;
        margin-right: 60px;
        font-size: small;
    }
    
    /* Media query for small screens (e.g., mobile devices) */
    @media (max-width: 480px) {
        .show-password {
            align-self: auto; /* Center-align for small screens */
            margin-top: 5px; /* Reduce top margin for spacing */
            font-size: small;
        }
    }
    
    .dj-checkbox {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    
    .dj-label {
        margin-right: 10px;
    }
    
    #djCheckbox {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    