.settlements-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.amount-info {
    margin-bottom: 20px;
}

.amount-info p {
    font-size: 18px;
    margin: 10px 0;
}

.settle-form {
    display: flex;
    flex-direction: column;
}

.amount-input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pay-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pay-button:hover {
    background-color: #218838;
}
.event-name-heading{
    font-size: x-large;
    text-align: center;
}
.dj-name-heading{
    font-size: larger;
    color: gray;
    text-align: center;
}