    /* CSS Styles */
    .song-search{
        background: linear-gradient(160deg, #D7DEFE 70%, #4C526C);
        background-attachment: fixed;
        
    }
    .search-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* height: 100vh; Center vertically in viewport */
        text-align: center;
        /* background-color: #f0f7f9; */
        padding:10px;
        padding-bottom: 0px;
        
    }
    
    .dj-image {
        max-width: 100%; /* Ensure the image doesn't exceed its container width */
        height: auto; /* Maintain aspect ratio */
    }
    
    .left-content {
        flex: 0 0 auto;
       
        border-radius: 15px;
        background-color: #39125C;
        display: flex;
        color: #ffffff; 
        height:4rem;
        place-items: center; 
        width:40%;
        min-width:8rem;
        margin:20px;
        margin-right: 0px;
        
    }

    .left-content img{
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 100%;
        position: relative;
        left:-15px;
    }
    
    .left-content-text{
        position: relative;
        left: -10px;
        text-align:left;
        padding-bottom: 10px;
    }

    .right-content {
        width:40%;
        border-radius:15px;
        background-color: #39125C;
        color:#fff;
        font-size:0.75rem;
        height:4rem;
        min-width:8rem;
    }
    
    
    .search-heading {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    
    .search-input {
        width: 100%;
        padding: 5px 20px;
        margin-top: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        
    }
    
    .search-results {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .search-results li {
        padding: 5px;
        margin: 5px;
        background-color: #f0f0f0;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    
    .search-results li:hover {
        background-color: #e0e0e0;
    }
    .dj-name {
        /* margin-top: revert;
        font-size: smaller;
        margin-bottom: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif; */
        font-size: 0.75rem;
        line-height: 1rem; 

    }

    .left-content-text p{
        margin:0;
        
    }

    .song-search-event-name{
        font-size: 1rem;
        line-height: 1.5rem; 
        font-weight: 700;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    
/* Style for the custom toggle bar */
.custom-toggle-bar {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #4d7aa7; /* Background color (contrasting color) */
    border-radius: 20px; /* Rounder edges */
    user-select: none; /* Prevent text selection on click */
    font-family: Arial, sans-serif; /* Use a good font */
    color: #ffffff; /* Text color (white) */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transition: background-color 0.3s, color 0.3s; /* Smooth color transition */
}

/* Hover effect for the custom toggle bar */
.custom-toggle-bar:hover {
    background-color: #a0b9bb; /* Darker background on hover */
    color: #ffffff; /* Text color (white) on hover */
}

/* Style for the label on the left */
.toggle-label {
    flex: 1; /* Take up remaining space */
    font-weight: bold;
    font-size: small;
    padding-left: 10px; /* Add some left padding */
}

/* Style for the down arrow icon on the right */
.toggle-icon {
    width: 20px;
    height: 20px;
    background-image: url('../Resources/2022881-200.png'); /* Replace with your arrow image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s; /* Add a smooth rotation transition */
}

/* Rotate the arrow when the list is open */
.rotate {
    transform: rotate(180deg);
}
.collapsible-list{
    /* display: none; */
    height: 30vh;
    overflow-y: auto;
}
.songs-row{
   
    display: flex;
    background: linear-gradient(to right,#39125C,#f8f9ff 50%);
    border-radius: 15px;
    overflow: hidden;
    margin-top:0.5rem;
    color: #39125C;
    max-height: 3.5rem;

}

.songs-row img{
    border-radius: 15px;
}

.song-card-text{
    padding:8px;
    
    
}

.song-name{
    font-size: 1.5rem; 
    line-height: 0.2rem;
    font-weight:700;
}

.song-artists{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 0.8rem;
    font-weight:600;
}

/* .collapsible-list.open {
    display: block;
  } */
/* .container-for-table {
    overflow: auto; /* Enable scrolling */
    /* max-height: 400px; Adjust the max height as needed */
    /*  margin-top: -50px; Default margin top */

    /* Adjust margin top for mobile screens */
    /* @media (max-width: 576px) {
        margin-top: -70px;
    } */

    /* Adjust margin top for medium screens */
    /* @media (min-width: 576px) and (max-width: 992px) {
        margin-top: -50px;
    } */
/* } */ 

.collapsible-table{
    background-color: #b6cdd9;
    font-size: small;
}


.search-page {
    display: flex;
    flex-direction: column;
    margin-top: -11px;
    align-items: center; /* Center content horizontally */
    width:100%;
}

.search-bar {
    margin-bottom: 0px; /* Adjust margin bottom as needed */
    width:100%;
    display:flex;
    padding-left: 30px;
}

    .search-bar.hidden-content-margin {
        margin-top: 0.5rem;
        margin-bottom: 1rem; 
    }

.container-for-table {
    max-height: 400px;
    overflow: auto;
    font-size: small;
    width: 100%; /* Ensure table container occupies full width */
    padding: 5px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in width calculation */
    margin:10px;
    opacity: 1 !important;
    position: relative;
}

.container-for-table{
    background: url('../../public/images/BGMusic.png');
    background-repeat: no-repeat;
}




.playlist-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-weight:600;

}

.playlist-button {
    background-color: #39125C; /* Slightly transparent */
    border: none;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 0.75rem;
    margin-top: 0px !important;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight:600;
}

.playlist-button:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Darker on hover */
}

.playlist-button.active {
    background-color: #fff; /* Highlight active button */
    color: #39125C; /* Change text color for better visibility */
}
@keyframes fall {
    0% {
        transform: translateY(-100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}


.heart, .cheer {
    position: absolute;
    top: 0; /* Start at the top */
    font-size: 24px;
    opacity: 0.8;
    animation: fall-hearts 5s ease-in-out infinite;
}

.heart::after {
    content: '❤️';
}

.cheer::after {
    content: '🍻';
}

@keyframes fall-hearts {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }
    80% {
        opacity: 0.6; /* Keep opacity high for most of the animation */
    }
    100% {
        transform: translateY(100vh); /* Move down the full viewport height */
        opacity: 0; /* Fade out completely */
    }
}


.choose-from-collections-text{
    align-items: center;
    line-height: 1rem; 
    font-size: 0.9rem;
    font-weight:700;
    color:#39125C;
    margin-top: 5px;
    margin-bottom: 5px;
}

.choose-from-collections-text p{
    text-align: center; 
    margin:0px;
}



.search-icon-song-search {
    position: relative;
    right: 35px; 
    width: 30px; /* Increase size as needed */
    height: 30px;
    cursor: pointer;
    transform: translateY(18px);
}


.event-desc{
    background-color: #ef9a9a;
    border-radius:10px;
    margin:10px;
    font-size: 0.75rem;
    padding: 5px 10px;
    width:90%;
    text-align:left;
}

.right-content:hover{
    cursor: pointer;
}

.right-content img{
    width:30px;
}

.music-icon-image{
    position: relative;
    width: 25px !important;
    height: 25px !important;
    right:27px !important;
    top:18px;
}




.right-content-button-container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px 3px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.right-content-button-text p{
    margin: 0;
    line-height: 1.2;
}

.right-content-button-text p strong {
    font-family: 'Brush Script MT', cursive;
    font-size: 16px;
    font-weight:400;
}


.right-content-button-icon img {
    width: 40px;
    height: auto;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    padding-top: 150px;
   
}

.modal-content {
    background-image: linear-gradient(to bottom right, #FFFFFF, #D7DEFE);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 20px;
}

.modal-content p{
    font-size: 14px;
}

.modal-content h2{
    font-size: 22px;
}

    .modal-content button {
        all: unset;
        width: 100%;
        height: auto;
        margin-top: 0px;
        border-radius: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 0px;
        padding-right: 0px;
        color: white;
        text-align: center;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: #39125c;
    }
