.terms-of-service-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(160deg, #d7defe 70%, #4C526C) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #39125C;
}

.terms-of-service-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #39125C;
}

.terms-of-service-container h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #39125C;
}

.terms-of-service-container p {
    font-size: smaller;
    line-height: 1.5;
    color: #39125C;
}

.terms-of-service-container ul {
    list-style: disc;
    margin-left: 20px;
}

.terms-of-service-container li {
    font-size: smaller;
    line-height: 1.5;
    color: #444;
}

/* Customize colors and fonts as needed */