.cards {
    background: #fff;
    background: linear-gradient(160deg, #d7defe 70%, #4C526C);
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}



h1 {
  text-align: center;
  color: #fff;
}

.cards__container {
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}


h1 {
  text-align: center;
  color: #fff;
}


.signup-link{
  color: #39125C;
  background-color: #fff;
  padding: 3px 10px;
  border-radius: 10px;
}

.signup-label{
  margin-top: 15px;
}
.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

Button{
  margin-top: 15px;
}


.sent-otp-text{
  color: #39125C;
  text-align: center;
  display: flex;
  margin: auto;
  gap: 5px;
  justify-content: center;
  padding: 5px;
}

.mobile-no-text{
  font-weight: 700;
}

.otp-verify-section{
  width:90%;
  margin: auto;
}

.otp-field{
  width: 37px;
  margin: 6px;
  text-align: center;
  border: #000000 2px solid;
}

.resend-otp-button :disabled{
  color: #fff;
}

.verify-resend-btn-group{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
}

.resend-otp-button{
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: #39125C;
  font-weight: 700;
  margin-top: 5px;
}

#timer{
  font-size: 0.8rem;
}


@media only screen and (max-width: 1000px){
  .footer-lander{
    display: block !important;
  }
  .lander-footer-1{
    display: flex !important;
  }
  .lander-footer-2{
    display: flex !important;
  }
  .cards__container{
    display: block !important;
    height: auto !important;
  }

  .lander-logo-mobile{
    display: block !important;
  }

  .tagline-header{
    color: #39125C !important;
    font-size: 1rem !important;
  }

  .lander-logo-desktop{
    display: none;
  }
  
  .lander-main-content{
    margin: 0 !important;
    padding-top:0 !important;
    padding-bottom: 0 !important;
  }

  .lander-header{
    background: url('/images/lander_header_photo_hd.png');
    height: 300px !important;
    background-size: 550px 500px !important;
    background-position: 50% 100% !important;
    background-repeat: no-repeat;
    width: 100% !important;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    place-items: center;
  }
  .lander-main-content{
    width: 100% !important;
    background: url('/images/BGMusic.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0% 80% !important;
    background-attachment: fixed !important;
  }
  .main-selection-content{

  }

}

.lander-logo-mobile{
  display: none;
}

.tagline-header{
  color: #39125C;
  font-size: 1.75rem;
  margin-top: 10px;
  font-weight: 700;
}

.footer-lander{
  display: none;
}

.lander-header{
  width: 70%;
}

.cards__container{
  display: flex;
  height: 100vh;
}


.main-selection-content{
  overflow: hidden;
  background: linear-gradient();
  margin: auto;
}

.main-selection-content p{
  font-weight: 600;
  color: #39125C;
  font-size: 1rem;
  margin: 0;
  margin-top: 10px;
}
.req-anonymously-button{
  color: #fff;
  background-color: #39125C;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 15px auto;
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.choose-login-label{
  margin-top: 0 !important;
}
.user-dj-toggle{
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  padding: 10px;
  font-size: 1.75rem;
  align-items: center;
  margin: auto;
}
.dj-user-toggle-img{
  border-radius: 100%;
  width: 5.5rem;
  height: 5.5rem;
  border: 0px solid #33bcfb;
  align-items: center;
  display: flex;
  justify-content: center;
}
.checked-dj-user{
  opacity:1 !important;
  border-width: 6px;
}
.dj-button-img{
  opacity:0.5;
  background: url('/images/dj_button_bg.png');
}
.user-button-img{
  opacity: 0.5;
  background: url('/images/user_button_bg.png');
}
.google-email-login-container{
  display: flex;
  gap:30px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.email-icon{
  width:50px;
  align-items: center;
}
.phone-call-icon{
  width:50px;
  height: 50px;
  align-items: center;
}
.lander-footer-1-text{
  font-size: 1.2rem;
  color: #d7defe;
  transform: translateX(-20%);
  text-shadow: 1px 0px #fd5eab, -1px 0px #5aadfa;
  /* text-shadow: -1px -1px #0011ff; */
  display: grid ;
  align-items: center;
  place-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
}

.lander-footer-1-text img{
  transform: translateX(0%) !important;
}

.lander-footer-1 img{
  width: 50%;
  transform: translateX(-20%);
}
.footer-match-vibes-text{
  padding: 10px;
  color:#d7defe;
  font-size: 1.2rem;
}

.lander-footer-2{
  margin-top: 10px;
}
.lander-footer-2-text{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  transform: translateX(20%);
  text-shadow: 1px 1px #000000;
  /* text-shadow: -1px -1px #0011ff; */
}

.lander-footer-2 img{
  width: 60%;
  transform: translateX(20%);

}

.lander-footer-2-text img{
  transform: translateX(0%) !important;
}

.create-forgot-creds-container{
  color: #39125C !important;
  display: flex;
  justify-content: center;
  gap:20px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  margin: 10px auto;
}

.lander-header{
  background: url('/images/lander_header_photo_hd.png');
  height: 300px;
  background-size: 110vh 90vh;
  background-position: 50% 30vh;
  background-repeat: no-repeat;
  height: 100vh;
}

.footer-lander{
  background:linear-gradient(180deg,#421c63,#1a4e78);
  padding-top: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.footer-1000-users-text{
  font-size: 2rem;
  color: #d7defe;
  font-weight: 700;
}

.lander-main-content{
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  margin: 20px;
  width: 30%;
  background: linear-gradient(to right bottom,#fff,#d7defe);
}

.get-otp-button-lander{
  color: #39125C;
  background-color: #fff;
  width: 150px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  border: none;
  font-size: 1.25rem;
  padding: 5px 15px;
  font-weight: 600;
}

.mobile-number-container{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); 

}

.mobile-number-input{
  width: 200px;
  margin: auto;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  padding-left: 30px;
  opacity: 0.7;
  border: none;
  transform: translateX(-10px);
}

.email-input{
  width: 250px;
  margin: auto;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0.7;
  border: none;
}
.password-input{
  width: 250px !important;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0.7;
  border: none;
}

.user-image-icon-lander{
  width:20px;
  transform: translateX(15px);
  opacity: 1 !important;
}

.password-input-field{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: auto;
  transform: translateX(12px);
}
.eye-password-click{
  width: 20px !important;
  margin-top: 10px;

}
.forgot-password-container{
  color: #39125C;
  padding-top: 5px;

}
#forgot-password-tip{
  font-size: 0.7rem;
}