.DjHome {
    background: linear-gradient(160deg, #d7defe 70%, #4C526C);
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Center vertically on the viewport height */
}

.left-button {
    margin-right: 10px; /* Add margin to create space between buttons */
    text-align: left; /* Left-align content */
}

.right-button {
    margin-left: 10px;
}

.btn-medium {
    font-size: 12px;
}

/* Media query for responsive button size */
@media (max-width: 768px) {
    .btn-medium {
        font-size: 10px;
    }
}
.toolbar-button{
    border-radius: 20px;
    background-color: #39125C;
    color: #fff;
    padding: 5px 10px;
}
